* {
    margin: 0;
    padding: 0;
}

.contenedor {

    display: flex;
    width: 100%;
    height: 100vh;



}

nav {
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    background: #234a66;
    align-items: center;
  
   
}



.name-user {
    margin-right: 15px;
}

.brand {
    display: flex;
    flex-basis: 20%;
    justify-content: space-between;
    min-width: 200px;
}

.brand>h2 {
    margin: 0;
    font-size: larger;
}

.brand>button {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background: #234a66;
}

.brand>button>.ti-menu-2,
.brand>h2,
.user>i,
.user>.name-user {
    color: white;
}

.brand>button>.ti-menu-2:before {
    font-size: 25px;
}

.accion {
    
    min-width: 180px;
    
}



.accion>span {
    margin-right: 10px !important;
   
    
}

.accion>span:nth-child(1):hover{
    color: rgb(29, 87, 29);
}
.accion>span:nth-child(2):hover{
   color: red;
}

aside {
    transition: .3s ease-in-out;
    flex-basis: 20%;
    flex-grow: 0;
    background: #ececec;
    width: 0;
    min-width: 200px;
    overflow: hidden;
}

aside>ul {
    padding: 0px 20px;
   
}

aside>ul>li {
    list-style: none;
    /*margin-bottom: 5px;*/
    padding: 8px 0;
    cursor: pointer;
    min-width: 200px;
}

.no-aside {
    flex-grow: 1;
}

aside>ul>li>a>i {
    margin-right: 6px;

}

hr {
    margin: 0 !important;
}

.link-aside {
    text-decoration: none;
    color: black;

}

.link-aside:hover {
    color: #4683ae;

}

.titulo-ingresar-auto,
input,
.boton {
    margin-bottom: 20px;
}

.titulo-ingresar-auto {
    font-size: 25px;
    padding-top: 8px;
}

.new-car {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: auto;
    margin-top: 30px;
}

.fila{
    cursor: pointer;
}

/* HTML: <div class="loader"></div> */
/* Estilo para el ícono de carga */
#loader {
    display: inline-block; /* Mostrar como bloque en línea */
    
    
    animation: spin 1.5s infinite linear; /* Aplicar animación de giro */
}

/* Definición de la animación de giro */
@keyframes spin {
    to {
        transform: rotate(360deg); /* Girar el ícono 360 grados */
    }
}

#spiner{
    display: none;
}

#aside{
    min-height: 100vh;
}