html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #1f2020;
}

.container{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    height: auto;
   
}

nav{
    margin: auto;
    max-width: 1200px;
    position: absolute;
    z-index: 1;
}

nav>ul{
    display: flex;
    list-style: none;
    justify-content: flex-end;

}

nav>ul>li{
    margin: 0 10px;
}
nav>ul>li>a{
    text-decoration: none;
}

#carrousel{
    display: flex;
    width: 100vw;
    background-size: cover;
    position: relative;
    overflow: hidden;
    transform: translateY(-20%);
    
    
   
    
}

#carrousel>img{
   
    width: 100%;
  
  
    
    transition: all .5s ease-in-out ;
}

header{
    overflow: hidden;
    width: 100%;
   max-height: 100vh;
    max-width: 1900px;
    margin: auto;
}

#buscador{
    width: 70%;
    height: 300px;
   border-radius: 10px;
    background: #fff;
    position: absolute;
    bottom: 45%;
    box-shadow: 0px 0px 50px 2px rgba(0, 0, 0, 0.5);
    padding: 0 30px;
  
    
    
    /*opacity: 0;*/
    

}



article{
    position: relative;
    display: flex;
   justify-content: center;
   height: 72vh;
}



.caracteristicas{
    height: 500px;
}











.caja{
    width: 200px;
    height: 200px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cars{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.gradient-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px; /* Ajusta la altura según tus necesidades */
    background: linear-gradient(to bottom, rgb(255 255 255 / 0%) 0%, #1f2020 100%);
    pointer-events: none; /* Asegura que la capa no interfiera con los eventos de clic del carrusel */
  }